.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-mid {
    width: 100%;
    height: 75vh;
    position: relative;
    
}

.hero-mid h1 {
    padding: 4rem !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 50px 50px;
}

.hero-text {
    position: absolute;
    top: 50%;
    bottom: 21%;
    margin-left: 20.25%;
    transform: translate(-20%, -50%);
    width: 100%;
    text-align: center;
}

.hero-text h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: whitesmoke;
    padding: 0 0 2rem 0;
    text-align: center;
}

.hero-text .show {
    text-decoration: none;
    background: whitesmoke;
    color: #005f73;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 2.5rem;
    border-radius: 50px;
    letter-spacing: 1px;
}

.hero-text .hide {
    display: none;

}

@media screen and (max-width: 550px) {

    .hero-text {
        position: absolute;
        top: 50%;
        left: 21%;
        transform: translate(-20%, -50%);
        width: 100%;
        text-align: center;
    }

    .hero-text h1 {
        padding: auto;
        text-align: center;
    }

    .hero-text .show {
        padding: 0.7rem 2.5rem;
        border-radius: 50px;
        font-size:  1.5rem;
    }

    
}